<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiefeng.ssm.dao.LoginMapper">

  <resultMap id="BaseResultMap" type="com.jiefeng.ssm.bean.Login">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_login
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.jiefeng.ssm.bean.Login" useGeneratedKeys="true" keyProperty="id">
    insert into tb_login (id, username, password
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.jiefeng.ssm.bean.Login">
    update tb_login
    <trim prefix="set" suffixOverrides=",">
      <if test="username != null and username != ''">
        username = #{username},
      </if>
      <if test="password != null and password != ''">
        password = #{password}
      </if>
    </trim>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, username, password
    from tb_login
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, password
    from tb_login
  </select>

  <select id="selectByUsername" resultMap="BaseResultMap" parameterType="com.jiefeng.ssm.bean.Login">
    select id, username, password from tb_login where username = #{username}
  </select>

  <resultMap id="custom_role" type="baseRole">

  </resultMap>

  <select id="getUserInfo" resultType="student">
      select * from tb_student,tb_teacher,tb_repairs_people,tb_manager where login_id = #{loginId}
  </select>

</mapper>