<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiefeng.ssm.dao.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.jiefeng.ssm.bean.Teacher">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <association property="login" select="com.jiefeng.ssm.dao.LoginMapper.selectByPrimaryKey" column="login_id">
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_teacher
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jiefeng.ssm.bean.Teacher">
    insert into tb_teacher (id, login_id, name, 
      department, number)
    values (#{id,jdbcType=INTEGER}, #{login.id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
      #{department,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.jiefeng.ssm.bean.Teacher">
    update tb_teacher
      <trim prefix="set" suffixOverrides=",">
        <if test="login != null">
          login_id = #{login.id},
        </if>
        <if test="name != null and name != ''">
          name = #{name},
        </if>
        <if test="department != null and department != ''">
          department = #{department},
        </if>
        <if test="number != null and number != ''">
          number = #{number}
        </if>
      </trim>
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, login_id, name, department, number
    from tb_teacher
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, login_id, name, department, number
    from tb_teacher
  </select>

  <select id="getInfoByLoginId" resultType="teacher">
    select * from tb_teacher where login_id = #{id}
  </select>
</mapper>